<app-side-panel></app-side-panel>

<div class="dashboard flex-box-start flex-col">

  <!-- header  and tabs -->
  <div class="">
    <app-header></app-header>
  </div>

  <!-- analytics overview -->
  <div class="analytics-overview-container">
    <app-analytics-overview></app-analytics-overview>
  </div>


  <!-- charts -->
  <div class="charts-container">
    <app-charts></app-charts>
  </div>


  <!-- top performers and visits by country -->
  <div class="grid-2-cols top-performers-container">
    <app-top-performers></app-top-performers>
    <app-visits-map></app-visits-map>
  </div>

</div>