$app-background: white;
$primary-text-color: black;
$secondary-text-color: #9ba2a3;

$overview-visits-card-back-color: #ffefe2;
$overview-orders-card-back-color: #effcef;
$overview-signups-card-back-color: #e6f5f9;
$overview-enquiry-card-back-color: #f4f5fc;
$overview-profit-card-back-color: #deffe0;

$overview-visits-card-fore-color: black;
$overview-orders-card-fore-color: black;
$overview-signups-card-fore-color: black;
$overview-enquiry-card-fore-color: black;
$overview-profit-card-fore-color: black;

$app-tab-color: rgba(0, 0, 0, 70%);
$app-tab-active-color: black;

$side-panel-icon-color: rgba(255,255,255,0.8);
$side-panel-icon-active-color: #e7e339;
